.about_container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.about_container h3,
.about_container h2 {
  font-size: 2rem;
  margin: 1rem 1rem;
}

.about_container p {
  font-size: 1rem;
  margin: 1rem 1rem;
}

.aboutpage {
  display: flex;
  justify-content: center;
}
